<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> -->
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" #sidenav closed>
        <mat-card color="primary">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <mat-icon class="userIcon">account_circle</mat-icon>
                </div>
                <mat-card-title>News App</mat-card-title>
                <!-- <mat-card-subtitle>User Email Address</mat-card-subtitle> -->
              </mat-card-header>
        </mat-card>
        <mat-list *ngFor="let navLink of newsCategory">
            <mat-list-item [routerLink]="[navLink?.link1, navLink?.params]" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>{{navLink?.icon}}</mat-icon> {{navLink?.navText}}
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-icon matPrefix (click)="sidenav.toggle()">menu</mat-icon>  <span [routerLink]="['/home']" >News App</span>
        </mat-toolbar>
        <!-- <mat-card class="m-3"> -->
            <router-outlet></router-outlet>
        <!-- </mat-card> -->
    </mat-sidenav-content>
</mat-sidenav-container>
