<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="row">
    <div class="col-lg-12 mb-3" >
        <mat-card color="primary">
            <img mat-card-image [src]="articleSummary?.urlToImage ? articleSummary?.urlToImage : imgNotFound" style="height: 100%;" alt="">
            <mat-card-content>
                <h1 class="h3">{{articleSummary?.title}}</h1>
                <p>{{articleSummary?.description}}</p>
                <p>{{articleSummary?.content}}</p>
                <!-- <h1 class="h6">{{news?.title}}</h1> -->
                <div class="text-center">
                    <a [href]="articleSummary?.url" target="_blank" class="btn btn-outline-primary" *ngIf="articleSummary?.url" > Read Full Article </a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>